<div class="container">
  <h1>Change Password</h1>
  <form *ngIf="active" (ngSubmit)="changePassword()" #forgotForm="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" required 
        [(ngModel)]="user.username" 
          name="username" #username="ngModel" >
      Enter your username
      <div 
        [hidden]="username.valid || username.pristine" class="alert alert-danger">
          Username is required
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" required 
        [(ngModel)]="user.password" 
          name="password" #password="ngModel" >
      Enter your new password you want to use
      <div 
        [hidden]="password.valid || password.pristine" class="alert alert-danger">
          Password is required
      </div>
    </div>
    <button type="submit" class="btn btn-default" [disabled]="!forgotForm.form.valid">Change</button>
  </form>
  {{text}}
</div>